.c-pageTitle {
  background-color: #fff;
  color: #00ab4d;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  padding: 13px 0;
  text-align: center;
}

.c-sectionTitle {
  color: #00ab4d;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  text-align: center;

  @include font-montserrat();

  &::before {
    background-color: #00ab4d;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 32%;
  }

  &::after {
    background-color: #00ab4d;
    content: '';
    height: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 32%;
  }
}

.c-font--MPLUS {
  @include font-MPLUS();
}

.c-font--montserrat {
  @include font-montserrat();
}
